*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  min-height:100vh;
  background: linear-gradient(135deg,#1d2671,#c33764);
  display:flex;
  justify-content:center;
  align-items:center;
}
.lang-btn{
  position:fixed;
  top:15px;
  right:15px;
  background:#fff;
  color:#000;
  border:none;
  padding:6px 14px;
  border-radius:20px;
  font-size:0.8rem;
  cursor:pointer;
  z-index:10;
}


.hero{
  width:100%;
  padding:20px;
}

.card{
  max-width:400px;
  margin:auto;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  border-radius:20px;
  padding:25px;
  color:#fff;
  animation: fadeUp 1s ease;
}

h1{
  font-size:1.4rem;
  text-align:center;
  margin-bottom:15px;
}

.offer{
  background:#ff3d3d;
  border-radius:15px;
  text-align:center;
  padding:10px;
  margin-bottom:15px;
}

.offer span{
  font-size:0.8rem;
}

.offer h2{
  font-size:2rem;
}

.features{
  list-style:none;
  margin:15px 0;
}

.features li{
  margin:8px 0;
  font-size:0.9rem;
}

.btn{
  display:block;
  text-align:center;
  background:#25d366;
  color:#fff;
  padding:12px;
  border-radius:12px;
  text-decoration:none;
  font-weight:600;
  margin-top:15px;
}

.btn:hover{
  background:#1ebe5b;
}

@keyframes fadeUp{
  from{
    opacity:0;
    transform:translateY(20px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}